.error {
    font-size: 2.5em;

    z-index: 1;

    display: inline-block;

    &__error .glyphicon-remove-sign {
        margin-right: 0.2em;
    }

    &__message {
        font-size: 1.2em;
    }
}
