<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather mood</title>
        <link rel="stylesheet" href="//yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/build/styles.min.css?{{rnd}}">
    </head>
    <body class="page" role="document">
        <div class="spinner"></div>
        <a href="https://github.com/tarmolov/weatherpic">
            <div class="github"></div>
        </a>
        <script src="//yastatic.net/jquery/2.1.1/jquery.min.js"></script>
        <script src="/build/scripts.min.js?{{rnd}}"></script>
        <script type="text/json" id="config">{{&config}}</script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77792405-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
