<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather mood</title>
        <link rel="stylesheet" href="//yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/build/styles.min.css?{{rnd}}">
    </head>
    <body class="page" role="document">
        <div class="spinner"></div>
        <a href="https://github.com/tarmolov/weatherpic">
            <div class="github"></div>
        </a>
        <script src="//yastatic.net/jquery/2.1.1/jquery.min.js"></script>
        <script src="/build/scripts.min.js?{{rnd}}"></script>
        <script type="text/json" id="config">{{&config}}</script>
    </body>
</html>
