.page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #212124;

    &__wrapper {
        width: 100%;
        height: 100%;

        border-collapse: collapse;
    }

    &__container {
        vertical-align: middle;
        text-align: center;
    }
}
