.github {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 149px;
    height: 149px;

    background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png);
}
