.photo-information {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 10px;

    background-color: rgba(46, 25, 20, 0.490196);
    color: #fff

    & h1 {
        margin-top: 0;
    }

    &__tags {
        position: relative;

        padding-left: 20px;
        margin-top: 20px

        line-height: 20px;
    }

    &__tags .glyphicon-tag {
        position: absolute;
        left: 0;
        top: 4px
    }
}
